a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.greetings {
    text-align: center; /*글 정렬용, display는 부모 컨테이너에서 자식요소 정렬*/
}

.post-section {
    position: relative;
    max-width: 500px;
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 쌓음 (버튼 -> 목록) */

    margin-left: auto;
    margin-right: auto;

}
.post-creation{
    align-self: flex-end;
    margin-bottom: 0;
}

.post-item {
    max-width: 500px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding : 0; /*상하 좌우*/
    margin: 0 auto 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease;
    overflow: hidden;
}

.content-area{
    padding: 20px;
    border-bottom: 1px solid #000000;
    margin: 0;
}

.post-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.post-meta {
    margin: 0 auto;

    display: flex;
    justify-content: left;
    align-items: center;

    position: relative;
}

.post-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post-date {
    position: absolute;
    right: 0;
}

.author-area{
    padding: 16px;
    display: flex;
    align-items: center;
}
.author-area img{
    width: 40px;
    height: 40px;

    border-radius: 50%;

    object-fit: cover;
}


