name: Express Frontend CI/CD with Actions

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  S3_BUCKET: ${{ vars.S3_BUCKET }}
  S3_KEY: action/frontend/action_deployment.zip

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  Integration-test-and-deployment:
    runs-on: ubuntu-22.04
    steps:
      # 소스코드
      - name: Checkout code
        uses: actions/checkout@v3

      # 노드 설정
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '22'
          cache: 'npm'

      # 통합 테스트
      - name: Install & Test
        run: |
            npm ci
            npm test

      # OIDC 인증
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      # ECR 로그인
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # 도커 빌드 셋업
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 도커 이미지 빌드 & ECR 푸시
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/vani/express:latest
          # github actions의 캐시 사용
          cache-from: type=gha
          cache-to: type=gha, mode=max

      # 엔진엑스를 함께 말아올리는 docker-compose가 필요하지만 v1에서는 추가하지 않았음
      - name: deployment via AWS ssh
        run: |
          aws ssm send-command \
          --document-name "AWS-RunShellScript" \
          --targets "Key=instanceids,Values=${{ secrets.EC2_INSTANCE_ID }}" \
          --comment "Deploying via GitHub Actions" \
          --parameters commands='[
            "aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ steps.login-ecr.outputs.regisry }}",
            "docker pull ${{ steps.login-ecr.outputs.registry }}/vani/express:latest",
            "docker stop my-app || true",
            "docker rm my-app || ture",
            "docker run -d --name my-app -p 80:3000 -e NODE_ENV=production ${{ steps.login-ecr.outputs.registry }}/vani/express:latest",
            "docker image prune -f"
          ]'